---
import Typography from '@/components/shared/ui/Typography/Typography.astro';
import AppStoreButton from '@/components/shared/ui/AppStoreButton/AppStoreButton.astro';
import Image from 'astro/components/Image.astro';
import actionsInAppImg from '@/assets/images/tell-me-more/actions-in-app.png';
import styles from './HeroSection.module.scss';

import UnderlineIcon4 from '@/assets/icons/strokes/underline-4.svg';

const { src: underlineIcon4Src } = UnderlineIcon4;
---

<section class={styles.hero}>
  <div class={styles.hero__left}>
    <Typography
      variant="h2"
      class={styles['hero__left-title']}
      style={`--underline-icon-url: url(${underlineIcon4Src})`}
      >Glad <span>you&nbsp;asked</span>
    </Typography>

    <div class={styles.hero__text}>
      <Typography variant="body1"
        >You know that awkward “where should we go?” moment that kills the vibe before the night even
        starts? Yeah, we murdered it
      </Typography>
    </div>

    <div class={styles.hero__text}>
      <Typography variant="body1"
        >FUSS helps you and your friends actually pick a place to meet — quickly, painlessly, and without
        anyone crying into Google Maps
      </Typography>
    </div>

    <div class={styles.hero__apps}>
      <AppStoreButton />

      <div class={styles['hero__apps-extra-text']}>
        <Typography variant="extra">Android coming soon</Typography>
      </div>
    </div>
  </div>
  <div class={styles.hero__right}>
    <Image src={actionsInAppImg} alt="Actions in the app" fetchpriority="high" loading="eager" />
  </div>
</section>
