---
import Image from 'astro/components/Image.astro';
import funPrimaryImg1 from '@/assets/images/tell-me-more/fun-primary-1.jpg';
import funPrimaryImg2 from '@/assets/images/tell-me-more/fun-primary-2.jpg';
import funPrimaryImg3 from '@/assets/images/tell-me-more/fun-primary-3.jpg';
import funPrimaryImg4 from '@/assets/images/tell-me-more/fun-primary-4.jpg';
import funPrimaryImg5 from '@/assets/images/tell-me-more/fun-primary-5.jpg';
import styles from './FunSection.module.scss';
---

<section class={styles.fun}>
  <div class={styles.fun__images}>
    <div class={styles.fun__image}>
      <Image
        src={funPrimaryImg1}
        class={styles.fun__image1}
        alt="friends having fun in the app"
        fetchpriority="auto"
      />
    </div>
    <div class={styles.fun__image}>
      <Image
        src={funPrimaryImg2}
        class={styles.fun__image2}
        alt="friends having fun in the app"
        fetchpriority="auto"
      />
    </div>
    <div class={styles.fun__image}>
      <Image
        src={funPrimaryImg3}
        class={styles.fun__image3}
        alt="friends having fun in the app"
        fetchpriority="auto"
      />
    </div>
    <div class={styles.fun__image}>
      <Image
        src={funPrimaryImg4}
        class={styles.fun__image4}
        alt="friends having fun in the app"
        fetchpriority="auto"
      />
    </div>
    <div class={styles.fun__image}>
      <Image
        src={funPrimaryImg5}
        class={styles.fun__image5}
        alt="friends having fun in the app"
        fetchpriority="auto"
      />
    </div>
  </div>
</section>
