---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/shared/layout/Header/Header.astro';
import Footer from '@/components/shared/layout/Footer/Footer.astro';
import Typography from '@/components/shared/ui/Typography/Typography.astro';

import styles from './legal-pages.module.scss';
import { LegalContentSection } from '../types';

const legalContentData: LegalContentSection[] = [
  {
    title: 'FUSS Users',
    titleVariant: 'h4',
    content: [
      {
        type: 'paragraph',
        text: [
          'Below are the types of Data we collectм about FUSS Users and the ways in which we may collect, use, and share that Data.',
        ],
      },
    ],
  },
  {
    title: 'What Data Does FUSS Collect',
    titleVariant: 'h4',
    content: [
      {
        type: 'paragraph',
        text: [
          'To implement the agreement between you and us and provide you with access to the use of the Services, we will improve, develop, and implement new features to our Services, and enhance the available Services functionality. To achieve these objectives, and in compliance with applicable laws, we will collect, store, aggregate, organize, extract, compare, use, and supplement your data.',
        ],
      },
      {
        type: 'list',
        listType: 'ordered',
        items: [
          {
            text: 'Non-personal information regarding interactions with our Services, non-personal technical data from device gathered by third parties’ technology such as SDK, pixels, widgets, etc. We need this data to manage and administer the Services provided to you, to analyze the use our Services in general and for statistics purposes.',
          },
          {
            text: 'Location Data - We use your location data in order to manage and administer the Services provided to you. We use this data to enable us to fulfill our obligations to you as part of the Services (e.g. in cases where you request restoration of your account). We also use this information in order to provide you with recommendations we think you may be interested in and tailor and improve the adverts that are presented in the Services.',
          },
          {
            text: 'Additional data received when you access the Services, including information regarding technical devices, technical interaction with the Service such as your IP-address, time of registration in the Service, country and language settings, device model and operating system used, your installed apps, type of a browser, your Internet provider and/or phone network operator, network type, screen resolution, RAM size. We use your data for internal review to constantly improve the content of our Services and web pages, optimizing your user experience, to understand any errors you may encounter when using the Services, to notify you of changes to the Services and to personalize the use of our Services.',
          },
          {
            text: 'Information that is automatically received at the time of access to the Site with the use of cookies. We use this information to manage and administer the Services including providing our services to you.',
          },
          {
            text: 'Information that is created by you while placing requests to our support. We use this information to verify your identity and to fulfil your support request.',
          },
        ],
      },
      {
        type: 'paragraph',
        text: [
          'We may also use this data to investigate any complaints on your behalf and to provide you with a more efficient service.',
          'Your personal information may also be processed if it is required by a law enforcement or regulatory authority, body, or agency or in the defense or exercise of legal claims. We will not delete personal information if it is relevant to an investigation or a dispute. It will continue to be stored until those issues are fully resolved and/or during the term that is required and/or permissible under applicable/relevant law. You may withdraw your consent the collection of location data by amending your privacy settings on your device.',
          'Please note, if you withdraw your consent to processing or you do not provide the data that we require to maintain and administer the Services, you may not be able to access the Services.',
          'If we intend to further process your data for any other purpose to those set out in this Privacy Policy, we shall provide you with details of this further purpose before we commence processing.',
        ],
      },
    ],
  },
  {
    title: 'How Is My Data Used?',
    titleVariant: 'h5',
    content: [
      {
        type: 'paragraph',
        text: [
          'Below are the ways that we may use Data about FUSS Users.',
          'We may also use your Data for research and development, to improve the Services, or to offer new products, features, and tools, but only to the extent that this is in compliance with applicable law. For example, we may redesign the Apps to make it easier for you to search for places in FUSS. We may also use your Data to customize our Apps and Sites to provide you with your own special experience. We do this by inferring your interests and preferences, looking at your search history.',
          'We also may use your Data to help us map Locations (as defined below). For example, we may use device signals to determine that a particular device is within a particular venue. Additionally, if you consent to sharing crash data (when the Apps crash) with us, we may use that data to help us analyze the cause of the crash.',
        ],
      },
    ],
  },
  {
    title: 'Protection Of Our Rights',
    titleVariant: 'h5',
    content: [
      {
        type: 'paragraph',
        text: [
          'We may use your Data to protect the rights, property, or safety of FUSS, the Services, our users, and employees, or any third party. For example, we may use your Data if we need to enforce or apply our Policies.',
        ],
      },
    ],
  },
  {
    title: 'When Is My Data Shared?',
    titleVariant: 'h5',
    content: [
      {
        type: 'paragraph',
        text: [
          'We neither rent nor sell Data about users without their consent unless anonymized, aggregated or pseudonymized. Though, as described more fully in this Privacy Policy, we may license or otherwise provide certain other Data to third parties, provided we have received your consent to do so.',
        ],
      },
    ],
  },
  {
    title: 'Other times',
    titleVariant: 'h4',
    content: [
      {
        type: 'paragraph',
        text: [
          'We may share your Data when we believe in good faith that such release is necessary to comply with law or a legal process, including laws outside your country of residence; to protect our rights, property, or safety of FUSS, our employees, the Services, and others.',
        ],
      },
    ],
  },
  {
    title: 'Determining and Sharing Location',
    titleVariant: 'h5',
    content: [
      {
        type: 'paragraph',
        text: [
          'Some features and functionality in our App may require that you provide your location. If you have your location services turned on, whenever you open and use or interact with our App (e.g., search place) on your mobile device, we collect and use your location data from your mobile device (e.g., latitude and longitude) to show you a list of nearby places. We will only process your location data with your permission. Other than in an anonymized, pseudonymized or aggregated form, your location is never shared with others, except with your consent or as permitted under this Privacy Policy.',
        ],
      },
    ],
  },
  {
    title: 'What About Cookies and Similar Technologies?',
    titleVariant: 'h5',
    content: [
      {
        type: 'paragraph',
        text: [
          'We may use technologies like cookies, pixels, web beacons, local storage, and other identifiers on our Sites, in our emails, within our Apps and sometimes in third party apps that use our API or SDK to provide you with a range of products and services. We use these technologies for several purposes, such as for security, preference settings and analytics.',
          'You can control cookies through your browser settings and other tools. For more information, including the types of cookies and similar technologies found on FUSS, please read our Cookie Policy.',
        ],
      },
    ],
  },
  {
    title: 'Security',
    titleVariant: 'h5',
    content: [
      {
        type: 'paragraph',
        text: [
          'We take technical, organizational, and legal measures, including, where suitable, encryption, to ensure that your data is protected from unauthorized or accidental access, deletion, modification, blocking, copying and dissemination.',
        ],
      },
    ],
  },
  {
    title: 'International Users',
    titleVariant: 'h5',
    content: [
      {
        type: 'paragraph',
        text: [
          'Our Apps and all our data, including your Data, are hosted on servers in the United States. If you are using Service from outside of the United States, your Data will be transferred to, processed, and stored in the United States. As a result, United States federal and state governments, courts, or law enforcement or regulatory agencies may be able to obtain your Data through laws applicable in the United States. United States laws may not offer the same privacy protections as the law of your jurisdiction.',
        ],
      },
    ],
  },
  {
    title: 'Changes to this Privacy Policy?',
    titleVariant: 'h5',
    content: [
      {
        type: 'paragraph',
        text: [
          'From time to time, we may change and/or update this Privacy Policy. If this Privacy Policy changes in any way, we will post an updated version on this page. We will store the previous versions of this Privacy Policy in our documentation achieve. We recommend you regularly review this page to ensure that you are always aware of our information practices and any changes to such.',
        ],
      },
    ],
  },
  {
    title: 'Contact Us',
    titleVariant: 'h5',
    content: [
      {
        type: 'paragraph',
        text: [
          'If you have any questions or concerns regarding this Privacy Policy, please send a detailed message to: support@fuss-world.com',
        ],
      },
    ],
  },
];
---

<Layout title="Privacy Policy">
  <div class="container">
    <Header />
    <main>
      <div class={styles.legalHeading}>
        <Typography variant="h1" class={styles.legalHeadingH1}>
          This is the Privacy Policy for FUSS (collectively, "FUSS", "we", "us" or "our").
        </Typography>
      </div>

      {
        legalContentData.map((section) => (
          <div class={styles.legalContent}>
            <div class={styles.legalContentTitle}>
              <Typography variant={section.titleVariant}>{section.title}</Typography>
            </div>

            {section.content.map((item) => {
              if (item.type === 'paragraph') {
                return (
                  <div class={styles.legalContentText}>
                    {item.text.map((paragraph) => (
                      <Typography variant="body4">{paragraph}</Typography>
                    ))}
                  </div>
                );
              }
              if (item.type === 'list') {
                return (
                  <div class={styles.legalContentText}>
                    {item.listType === 'ordered' ? (
                      <ol>
                        {item.items.map((listItem) => (
                          <li>
                            <Typography variant="body4">{listItem.text}</Typography>
                          </li>
                        ))}
                      </ol>
                    ) : (
                      <ul>
                        {item.items.map((listItem) => (
                          <li>
                            <Typography variant="body4">{listItem.text}</Typography>
                          </li>
                        ))}
                      </ul>
                    )}
                  </div>
                );
              }
              return null;
            })}
          </div>
        ))
      }
    </main>

    <Footer />
  </div>
</Layout>
