---
import Image from 'astro/components/Image.astro';
import mockupFriendsImg from '@/assets/images/tell-me-more/mockup-friends-choosing.png';
import Typography from '@/components/shared/ui/Typography/Typography.astro';
import CircleIcon2 from '@/assets/icons/strokes/circle-2.svg';
import CircleIcon4 from '@/assets/icons/strokes/circle-4.svg';
import styles from './MockupSection.module.scss';

const { src: circleIcon2Src } = CircleIcon2;
const { src: circleIcon4Src } = CircleIcon4;
---

<section class={styles.mockup}>
  <div class={styles.mockup__left}>
    <Image
      src={mockupFriendsImg}
      alt="friends choosing a spot in London using the FUSS app"
      fetchpriority="high"
    />
  </div>

  <div class={styles.mockup__right}>
    <div class={styles['mockup__right-heading']}>
      <Typography
        variant="h3"
        class={styles['mockup__right-title']}
        style={`--circleIcon2: url(${circleIcon2Src}); --circleIcon4: url(${circleIcon4Src})`}
        >Takes the <span>pressure&nbsp;off</span>
      </Typography>
    </div>
    <div class={styles['mockup__right-text']}>
      <Typography variant="body2"
        >No more decision paralysis. No more back-and-forths. Just pick a few options, send the link, and
        show up
      </Typography>
    </div>
  </div>
</section>
