---
import AppStoreButton from '@/components/shared/ui/AppStoreButton/AppStoreButton.astro';
import Typography from '@/components/shared/ui/Typography/Typography.astro';
import Button from '@/components/shared/ui/Button/Button.astro';
import FussLogo from '@/assets/images/logo.svg';
import InstagramIcon from '@/assets/icons/socials/Instagram.svg';
import { URLS } from '@/constants';
import styles from './Footer.module.scss';

interface Props {
  isHome?: boolean;
}

const { isHome = false } = Astro.props;
---

<footer class={styles.footer}>
  <div class={styles.footer__wrapper}>
    <div class={styles.footer__left}>
      <a class="link" href="/">
        <FussLogo class="logo" />
      </a>

      <div class={styles['footer__left-links']}>
        <a class="link" href="/privacy-policy">Privacy Policy</a>
        <a class="link" href="/terms">Terms</a>
      </div>
    </div>
    <div class={styles.footer__right}>
      <AppStoreButton isSmall />
      {
        isHome && (
          <Button variant="contained" size="small" class={styles.footerTellMeMoreBtn} href="/tell-me-more">
            Tell&nbsp;me&nbsp;more
          </Button>
        )
      }
    </div>
  </div>
  <div class={styles.footer__bottom}>
    <Typography variant="small" aria-label="copyright">&copy; 2025 FUSS. All rights reserved.</Typography>

    <a class="link" href={URLS.instagram} target="_blank">
      <InstagramIcon />
    </a>
  </div>
</footer>
