---
import Typography from '@/components/shared/ui/Typography/Typography.astro';
import Image from 'astro/components/Image.astro';
import CircleIcon1 from '@/assets/icons/strokes/circle-1.svg';
import friendsHavingFunImg from '@/assets/images/tell-me-more/friends-having-fun.png';
import styles from './AboutSection.module.scss';

const { src: circleIcon1Src } = CircleIcon1;
---

<section class={styles.about}>
  <div class={styles.about__heading}>
    <Typography variant="h2" style="font-weight: 600;">What it actually does:</Typography>
  </div>
  <div class={styles.about__wrapper}>
    <div class={styles.about__left}>
      <div class={styles['about__left-title']}>
        <Typography variant="h3" style={`--circleIcon1: url(${circleIcon1Src})`}
          ><span>Picks&nbsp;for</span>
          the whole group
        </Typography>
      </div>
      <div class={styles['about__left-text']}>
        <Typography variant="body2">
          You add your friends, they vote, and FUSS shows you the spot that fits everyone’s mood. So no one
          has to be the bad guy. Or the planner. Or the overthinker
        </Typography>
      </div>
    </div>
    <div class={styles.about__right}>
      <Image
        src={friendsHavingFunImg}
        alt="Group of friends hanging out together in real life"
        fetchpriority="high"
      />
    </div>
  </div>
</section>
